[Unit]
Description=Run neovim every minute for org notifications

[Service]
Type=oneshot
ExecStart=nvim -u NONE --noplugin --headless -c 'lua require("partials.org_cron")'

[Install]
WantedBy=default.target
