.config/fcitx/dbus

.config/fcitx/dbus
.config/qutebrowser/quickmarks
.config/fcitx/profile
.config/qutebrowser/qsettings
.config/nvim/plugin
.config/fcitx/clipboard

.config/qutebrowser/__pycache__
.config/qutebrowser/bookmarks
.config/qutebrowser/autoconfig.yml
.config/mpv/watch_later