.config/fcitx/clipboard
.config/fcitx/dbus
.config/fcitx/log
.config/fcitx/profile
.config/mpv/watch_later
.config/mpv/watch_later
.config/nvim/cpptools
.config/nvim/plugin
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks
.config/qutebrowser/__pycache__
.config/qutebrowser/qsettings
.config/qutebrowser/quickmarks
.config/newsboat

.scripts/acpi-notifications
.scripts/headphones.sh
.scripts/powermenu.sh
.scripts/prtsc.sh
.scripts
.config/nvim/lazy-lock.json
.config/fcitx5/conf/cached_layouts
.config/fcitx5/crash.log
.config/fcitx5/profile
.config/mpd/state
