* {
	border: none;
	font-family: "Uw Ttyp0", "Kochi Gothic";
	font-size: 14px;
}

#mpd {
	font-family: "Uw Ttyp0", "Kochi Gothic", "Hack Nerd Font";
}

#workspaces button {
	padding: 0;
	border-radius: 0;
}

#workspaces button.active {
	background: white;
	color: black;
}

#workspaces button.urgent {
	background: red;
	color: white;
}

#battery, 
#clock, 
#tray, 
#temperature, 
#memory, 
#network {
	margin-right: 20px;
}

#battery.critical:not(charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature.critical {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #af005f;
    }
}

#mode, #window {
	margin-left: 20px;
}

#temperature.critical {
	color: red;
}
