* {
	border: none;
	font-family: "Uw Ttyp0", "Kochi Gothic";
	font-size: 14px;
}

#tags button {
	padding: 0;
	border-radius: 0;
}
#tags button.occupied {
	background: gray;
	color: white;
}

#tags button.focused {
	background: white;
	color: black;
}

#tags button.urgent {
	background: red;
	color: white;
}

#battery, 
#clock, 
#tray, 
#temperature, 
#memory, 
#network {
	margin-right: 20px;
}

#mode, #window {
	margin-left: 20px;
}

#temperature.critical {
	color: red;
}
